body {
  display: flex;
  font-family: 'Varela Round', sans-serif;
  flex-direction: column;
}

#head{
  text-align: center;
  font-size: 2em;
}
#date{
  font-size: 1.25em;
}

#toDo{
  display: flex;
  flex-direction: row;
}

#taskDate{
  border: 0;
  width: 25%;
  order: 1;
}

#btnAddTask{
  border-radius: 25px;
  background-color: #F15957;
  color: white;
  order: 2;
  border-color: #F15957;
  size:12px;
  height: 25px;
}
